.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 498px;
  height: fit-content;
}

.modal__content.modal__content_type_image {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modal__image {
  width: 498px;
  height: 498px;
  object-fit: cover;
}

.modal__caption {
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 32px;
  font-family: "CabinetGrotesk", sans-serif;
  margin: 0;
}

.modal__weather {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding-left: 32px;
  padding-bottom: 32px;
  font-family: "CabinetGrotesk", sans-serif;
}

.modal__footer {
  box-sizing: border-box;
  background-color: white;
}

@media (max-width: 480px) {
  .modal {
    width: 343px;
    z-index: 1000;
  }

  .modal__image {
    width: 343px;
    height: 343px;
  }
}
