/* REMEMBER TO FIX HORIZONTAL SCROLL */

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  grid-gap: 20px 20px;
  padding: 0;
  margin: 0 auto 0 auto;
}

.item__container {
  position: relative;
  max-width: 325px;
  max-height: 328px;
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.card__name {
  position: absolute;
  top: 15px;
  left: 125px;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  padding: 2px 12px;
  margin: 0;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}
