.modal__to-login {
  border: none;
  background: none;
  position: absolute;
  bottom: 42px;
  right: 65%;
  color: gray;
}

.modal__button-container {
  position: relative;
}

.modal__submit-register {
  width: 65px;
  height: 36px;
  margin-bottom: 36px;
}

.modal__input-avatarURL {
  margin-bottom: 32px;
  display: block;
  border: none;
  border-bottom: 1px solid #000;
  width: 440px;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 4px;
  font-family: "CabinetGrotesk", sans-serif;
}
