.modal__to-login {
  border: none;
  background: none;
  position: absolute;
  top: 9px;
  left: 70px;
}

.modal__button-containter {
  position: relative;
}

.modal__label:last-of-type {
  margin-bottom: 32px;
}

.modal__submit {
  width: 65px;
  height: 36px;
}
