.modal__to-login {
  border: none;
  background: none;
  position: absolute;
  top: 8px;
  left: 70px;
  color: gray;
}

.modal__button-containter {
  position: relative;
}

.modal__submit {
  width: 124px;
  height: 36px;
}

.modal__input-avatarURL {
  margin-bottom: 32px;
  display: block;
  border: none;
  border-bottom: 1px solid #000;
  width: 440px;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 4px;
  font-family: "CabinetGrotesk", sans-serif;
}
