.modal__to-register {
  border: none;
  background: none;
  color: grey;
  position: absolute;
  top: 8px;
  left: 17%;
}

.modal__button-container {
  position: relative;
  margin-top: 32px;
}

.modal__submit {
  margin: 0;
  width: 73px;
  height: 36px;
}
